*{
    font-family: Arial, Helvetica, sans-serif;
}
html{ scroll-behavior:smooth;height:100%;}
body{margin: 0%;}
.parallax{
    background-image:url(main.jpg);
    width:100%;
    min-height: 850px;
    /*We have to start Image from topmost point.*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10;
}
.parallaxText{
    text-align:center;
    background-color: rgba(0, 0, 0,0.6);
    font-size: 6vw;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
    transition: 0.2s;
}
.parallaxText p {
    margin-top:20px;
    margin-bottom: 20px;
}
.selector1, .selector2, .selector3{
    font-size:110%;
    padding: 10px 25px;
    border-style: none none solid none;
    border-width: 3px;
    border-radius:10px 10px 0px 0px;
    background-color:white;
    margin: 0em 0.7em;
    
}
.selector1{
    border-color: rgb(226, 226, 51);
    background-color:rgba(247, 244, 88, 0.664);
}
.selector2{
    border-color: rgb(219, 21, 21);
}
.selector3{
    border-color: rgb(35, 130, 219);
}

/*Non- similar part starts from here and one bgcolour in selector.*/

/* .bmiIntro, .bmiForAdults{
    margin:auto;
    width: 75%;
    line-height: 30px;
    font-size:110%;
}
.bmiForAdultsDetails{
    margin:auto;
    width: 75%;
    line-height: 30px;
    font-size:110%;
} */
.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
      background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
     background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
/*Card effect*/
:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #ddf0f0;
    --greyLight-2: #c5e7e2;
    --greyLight-3: #bec8e4;
    --greyDark: rgb(20, 136, 117);
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    /* font-size: 62.5%; */
    overflow-y: scroll;
    background: var(--greyLight-1);
  }
  @media screen and (min-width: 900px) {
    
  
  .container {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: var(--greyLight-1);
  }
  
  .components {
    /* width: 75rem;
    height: 40rem; */
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    margin:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10%; */
  }
  
  /*  SWITCH  */
  /*  FORM  */}
  
  .form__input {
    width: auto;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 2.0rem;
    padding: 20px;
    
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
    outline: none;display: flex;
    justify-content: center;
    align-items: center;
  }
  .form__input::-moz-placeholder {
    color: var(--greyLight-3);
  }
  .form__input:-ms-input-placeholder {
    color: var(--greyLight-3);
  }
  .form__input::placeholder {
    color: var(--greyLight-3);
  }
  .form__input:hover {
    outline: none;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  }
  
  .chip {
    justify-self: center;
    /* width: 40%;
    height: 80%; */
    padding: 50px;
    border-radius: 1rem;
    margin: 30px;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chip h2 {
    font-size: 1.4rem;
    font-weight: 100;
    /* margin-left: -1.8rem; */
    color: var(--greyDark);
    line-height: 1.6;
  }

.item{
    
}
/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}


